//color
@color-background-base: #f5f7fa;
@color-background-white: white;
@color-yellow: #ffd100;
@color-black: #393939;
@color-orange: #fd9827;
@color-gray: #e8e8e8;

//font-color
@font-color-default: #888888;

//font-family
@font-family: "Microsoft YaHei";
body {
  margin: 0 0;
  padding: 0 0;
  height: 100%;
  font-family: "Microsoft YaHei", '微软雅黑', "Open Sans", PingFangSC-Light, Arial, "Hiragino Sans GB", STHeiti, "WenQuanYi Micro Hei", SimSun, sans-serif;
  font-size: @font-size-extra-small;
  background-color: @color-background-base;
  a {
    text-decoration: none;
  }
  min-width: 1366px;
}

//header
@header-height: 60px;
//btn-width
@btn-width-large: 130px;
@btn-width-middle: 100px;
@btn-width-default: 80px;
@btn-width-small: 50px;


// font-size
@font-size-extra-large: 20px;
@font-size-large: 18px;
@font-size-medium: 16px;
@font-size-small: 14px;
@font-size-extra-small: 13px;
@font-size-extra-extra-small: 12px;

//text-size
.text-xl{
  font-size: @font-size-extra-large;
}
.text-lg{
  font-size: @font-size-large;
}
.text-md{
  font-size: @font-size-medium;
}
.text-sm{
  font-size: @font-size-small;
}
.text-xs{
  font-size: @font-size-extra-small;
}
.text-xxs{
  font-size: @font-size-extra-extra-small;
}

//text-color
.text-red {
  color: red;
}
.text-orange {
  color: @color-orange;
}
.text-gray {
  color: @color-gray;
}
.text-yellow {
  color: @color-yellow;
}

// button-style
.btn-orange {
  background-color: @color-orange;
  border-color: @color-orange;
  &:hover {
    background-color: @color-orange;
    border-color: @color-orange;
  }
}
.btn-gray {
  background-color: @color-gray;
  border-color: @color-gray;
  &:hover {
    background-color: @color-gray;
    border-color: @color-gray;
  }
}
.btn-black {
  background-color: @color-black;
  border-color: @color-black;
  &:hover {
    background-color: @color-black;
    border-color: @color-black;
  }
}
.btn-yellow {
  background-color: @color-yellow;
  border-color: @color-yellow;
  &:hover {
    background-color: @color-yellow;
    border-color: @color-yellow;
  }
}

//border-class
.border-top {
  border-top-color:solid 1px @color-gray;
}
.border-bottom {
  border-bottom: solid 1px @color-gray;
}
.border-left {
  border-left: solid 1px @color-gray;
}
.border-right {
  border-right: solid 1px @color-gray;
}

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
//子元素居中
.center {
  text-align: center;
}

//超出长度替换省略符
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 85%;
}
.el-input__inner{
  height:10px !important;
}
.el-input1 .el-input__inner1{
  background-color: #f2f2f5 !important;
  outline: none !important;
  height: 28px  !important;
  padding: 4px 33px 4px 10px !important;
  line-height: 28px !important;
  font-size: 12px !important;
  box-shadow: none !important;
  color: #808080 !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
